body {
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding-bottom: 50px;
    background-color: #14213d;

}
h1 {
    color: #fca311;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
h2, h3 {
    margin: 10px 20px;;
    padding: 0;
    font-size: 2em;
    color: #e5e5e5;
    text-align: center;
}
p {
    color: #ffffff;
    text-align: center;
    margin: 0px 20px;
    max-width: 85ch;
    overflow-wrap: break-word;
}

.galleryintro {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divider {
    width: 300px;
    height: 6px;
    background-color: #fca311;
    margin: 20px 0;
    border-radius: 3px;
}
section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

figcaption{
    color: #ffffff;
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0.9em;
    text-align: center;
    word-wrap: break-word;
}

figure {
  margin: 0;
  max-width: 250px;
  text-align: center;
}

figure img {
    border-radius: 7px;
    margin: 0 auto;
    width: 100px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fca311;
  display: flex;
  justify-content: center;
}

ul li {
  position: relative;
}

ul li a {
  display: block;
  color: #14213d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #fca311;
}

ul li .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fca311;
  min-width: 160px;
  z-index: 1;
  flex-direction: column;
}

ul li:hover .dropdown {
  display: flex;
}

.dropdown li a {
  padding: 12px 16px;
  text-align: left;
  background-color: #fca311;
  color: #14213d;
}

.dropdown li a:hover {
  background-color: #C28C03;
  color: #ffffff;
}
ol {
    color: #ffffff;
    padding-left: 20px;
    margin: 20px;
    max-width: 85ch;
    overflow-wrap: break-word;
}
footer {
  text-align: center;
  font-style: italic;
  padding: 10px 0; /* top and bottom padding */
  background-color: white;
  color: #14213d;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000; /* ensures it's above other elements */
}