body {
  background-color: #001d3d;
  color: #f4effa;
  font-family: Open Sans, sans-serif;
  text-align: center;
  margin: 30px;
}
.btn-preprocessor {
  padding: 10px 20px;
  border: 0;
  border-radius: 30px;
  background: linear-gradient(to right, #a9d6e5, #00b4d8);
  color: #001233 !important;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.btn-preprocessor:hover,
.btn-preprocessor:active,
.btn-preprocessor:visited,
.btn-preprocessor:link {
  color: #001233 !important;
}
footer {
  margin-top: 50px;
  font-size: 0.8em;
}
