body {
  background-color: #001d3d;
  color: #fff1d0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 30px;
}
p {
  max-width: 85ch;
  line-break: 1.6;
  margin: 0 auto;
  padding-bottom: 15px;
  text-align: justify;
}
h1 {
  font-size: 2.7em;
  margin-bottom: 10px;
  color: #ead2ac;
}
h2 {
  font-size: 2.2em;
  margin-bottom: 15px;
  color: #ead2ac;
  text-transform: titlecase;
}
h3 {
  font-size: 1.6em;
  text-transform: titlecase;
  margin-bottom: 8px;
  color: #5bb1cd;
}
.btn-preprocessor {
  padding: 10px 20px;
  border: 0;
  border-radius: 30px;
  background: linear-gradient(to right, #a9d6e5, #00b4d8);
  color: #001233 !important;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1em;
  display: inline-block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.btn-preprocessor:hover,
.btn-preprocessor:active {
  background: linear-gradient(to right, #00b4d8, #a9d6e5);
  color: #ffffff !important;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}
nav {
  background: linear-gradient(to right, #a9d6e5, #00b4d8);
  padding: 15px 0;
  border-radius: 12px;
  margin-bottom: 30px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  margin: 0;
  text-decoration: none;
  color: #001233 !important;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: relative;
}
nav ul li a:hover {
  color: #ffffff !important;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
footer {
  margin-top: 30px;
  font-size: 0.9em;
}
